<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL95Dialect</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.username">cop3</property>
        <property name="hibernate.connection.password">cop123</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:25432/cop</property>
        <property name="hibernate.current_session_context_class">thread</property>


        <property name="connection_pool_size">1</property>

        <property name="hbm2ddl.auto">create</property>

        <property name="show_sql">true</property>
        <!--  mapping files  -->
        <mapping resource="dk/kb/cop3/backend/crud/database/hibernate/Object.hbm.xml"/>
        <mapping resource="dk/kb/cop3/backend/crud/database/hibernate/Edition.hbm.xml"/>
        <mapping resource="dk/kb/cop3/backend/crud/database/hibernate/Category.hbm.xml"/>
        <mapping resource="dk/kb/cop3/backend/crud/database/hibernate/Tag.hbm.xml"/>
        <mapping resource="dk/kb/cop3/backend/crud/database/hibernate/Comment.hbm.xml"/>
        <mapping resource="dk/kb/cop3/backend/crud/database/hibernate/Type.hbm.xml"/>
        <mapping resource="dk/kb/cop3/backend/crud/database/hibernate/AuditTrail.hbm.xml"/>
        <mapping resource="dk/kb/cop3/backend/crud/database/hibernate/User.hbm.xml"/>
        <mapping resource="dk/kb/cop3/backend/crud/database/hibernate/UserRole.hbm.xml"/>
        <mapping resource="dk/kb/cop3/backend/crud/database/hibernate/UserPermissions.hbm.xml"/>
<!--        <mapping resource="dk/kb/cop3/backend/crud/database/hibernate/UserRolePermissions.hbm.xml"/>-->

    </session-factory>
</hibernate-configuration>
