version: '3'
services:
  copdb:
    container_name: copdb
    hostname: copdb
    image: kartoza/postgis:14-3.3
    restart: always
    environment:
      - POSTGRES_USER=cop
      - POSTGRES_PASSWORD=cop123
      - POSTGRES_DB=cop
    volumes:
      -  ./postgres-init.d:/docker-entrypoint-initdb.d
    ports:
      - "25432:5432"

